In [7]:
import pandas as pd
from pandasql import sqldf

In [51]:
spacex_df = pd.read_csv("spacex_df_cap.csv")

In [52]:
pysql = lambda q: sqldf(q,globals())

In [57]:
#q = """SELECT DISTINCT launchpad FROM spacex_df"""
#q = """SELECT * FROM spacex_df WHERE launchpad LIKE '%CCS%' LIMIT 5 """
#q = """SELECT flight_number, rocket, launchpad, orbit, mass_kg FROM spacex_df WHERE landing_success_True=1"""
#q = """SELECT rocket, COUNT(rocket) FROM spacex_df GROUP BY rocket """
#q = """SELECT AVG(mass_kg) FROM spacex_df"""
#q = """SELECT orbit, COUNT(orbit) FROM spacex_df GROUP BY orbit"""
q = """SELECT SUM(landing_type_RTLS) FROM spacex_df """

In [58]:
pysql(q)

   SUM(landing_type_RTLS)
0                      18